<a class="skip-link" href="#main-content">Skip to content</a>

<header class="page-header">
    <div>
        <a class="logo | text-2 weight-bold" href="/">CG</a>
    </div>
    <nav class="site-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/posts/">Writing</a></li>
            <li><a href="/projects/">Projects</a></li>
        </ul>
    </nav>
</header>