---
title: Home
layout: default
---

<main id="main-content" class="gap-top-10 | flow flow--tight | container container--small" tabindex="-1">

    <h1 class="c-neutral">Hi.</h1>
    <p class="text-2 leading-tight">I'm Chris, this is my personal site, built with <a href="https://11ty.dev">11ty</a> and hosted on <a href="https://netlify.com">Netlify</a>, where I write mostly about web development and sometimes about life. I'm available for freelance projects, <a href="/contact">let's chat</a> if you'd like to work with me.</p>

    <nav class="gap-top-8">
        <h3 class="c-neutral">Writing</h3>
        <p class="visually-hidden">A list of my posts, listed from newest to oldest.</p>
        <ul class="posts-list">
        {% for post in collections.post | reverse %}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {% endfor %}
        </ul>
    </nav>

</main>